@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap") ; */

@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inika:wght@400;700&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	@apply bg-[#0D1117];
}

#root {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	overflow-y: auto;
}

.sec-container b {
	@apply text-4xl;
}
.sec-container strong {
	@apply text-4xl font-normal;
}
.sponser-cont {
	/* border:2px solid red;    */
	display: flex;
	flex-direction: column;
}
@keyframes fade {
	0% {
		opacity: 0; /* Start with fully transparent */
	}
	50% {
		opacity: 1; /* Fade in */
	}
	100% {
		opacity: 0; /* Fade out */
	}
}
.sponser-heading {
	display: flex;
	justify-content: center;
	font-size: 4rem;
	margin-top: 1rem;
	animation: fade 8s infinite;
}
.sponser-boxes {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	gap: 1rem;
	margin-top: 4rem;
}
.sponser-boxes .box {
	width: 30vw;
	border-radius: 10px;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.521);
	box-shadow: 1px 1px 4px grey;
	transition: transform 0.2s ease-in-out;
	filter: opacity(0.9);
}
.sponser-boxes .box:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.sponser-boxes .box img {
	width: 12vw;
}

.neon {
	text-shadow: -0.2rem 0.1rem 0.2rem #b52c59, 0.2rem -0.1rem 0.2rem #0865fe;
}
.neon-bar {
	box-shadow: -0.2rem 0.1rem 0.2rem #b52c59, 0.2rem -0.1rem 0.2rem #0865fe;
}
.neon-box {
	box-shadow: -0.2rem 0.1rem 1rem #ff075a, 0.2rem -0.1rem 1rem #0062ff;
}
.neon-button {
	@apply bg-gradient-to-l from-[#d607ffbd] to-[#0062ff] p-[2rem] text-white text-xl font-bold px-[1rem] py-[.3rem] rounded-lg m-[2rem];
	transition: all 0.1s ease-in;
	&:hover {
		@apply hover:bg-gradient-to-l hover:from-[#0062ff] hover:to-[#d607ffbd] translate-y-[-2px];
	}
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.academics a {
	@apply text-[#62C6FF] underline;
}
.academics h1 {
	@apply text-4xl;
}
.academics h4 {
	@apply text-2xl font-bold;
}
.academics li {
	@apply text-base;
}
.academics .nested-li {
	@apply marker:text-[#62C6FF] ml-4;
}

.inika-regular {
	font-family: "Inika", serif;
	font-weight: 400;
	font-style: normal;
}
.inder-regular {
	font-family: "Inder", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@media (max-width: 1210px) {
	.box2 .box2-card2 p {
		@apply text-base;
	}
	.box2 .box2-card2 strong {
		@apply text-2xl;
	}
	.box2 {
		flex-direction: column;
	}
}

@media (max-width: 1025px) {
	.box1 b {
		@apply text-3xl;
	}
	.box1 p {
		@apply text-2xl;
	}
	.box1-card2 p {
		width: 100%;
	}
	.box2 .box2-card2 p {
		width: 100%;
		@apply text-lg;
	}
}

@media (max-width: 970px) {
}

@media (max-width: 800px) {
	.box1 img {
		width: 180px;
		height: auto;
	}
	.hero p {
		@apply text-xl;
	}
	.tm-logos {
		height: 150px;
	}
	.tm-welcome span {
		&:first-child {
			@apply text-xl;
		}
		&:last-child {
			@apply text-xl;
		}
	}
	.tm-welcome {
		font-size: 3.75rem;
	}
	.tm-events {
		font-size: 2.5rem;
	}
}

@media (max-width: 768px) {
	.academics .content {
		@apply py-[3rem];
	}
	.academics .content .sem-container .header h1 {
		@apply text-3xl;
	}
	.academics li {
		@apply flex flex-col;
	}
	.academics .tab-nav {
		@apply text-2xl;
	}
}

@media (max-width: 630px) {
	.hero h1 {
		@apply text-2xl;
	}
	.box1 img {
		width: 150px;
		height: auto;
	}
	.hero p {
		@apply text-lg;
	}
	.box2 .box2-card2 p {
		width: 100%;
		@apply text-base;
	}
	.tm-logos {
		height: 100px;
	}
	.tm-welcome span {
		&:first-child {
			@apply text-base;
		}
		&:last-child {
			@apply text-lg;
		}
	}
	.tm-welcome {
		font-size: 2.25rem;
	}
	.tm-events {
		font-size: 2rem;
	}
	.sponsor-card img {
		@apply w-[150px] h-[150px];
	}
}

@media (max-width: 536px) {
	.box1 {
		@apply flex-col;
	}
	.hero p {
		@apply text-base;
	}
	.box2 .box2-card2 p {
		width: 100%;
		@apply text-sm;
	}
	.neon-button {
		@apply text-sm;
	}
	.tm-events {
		font-size: 1.6rem;
	}
}

@media (max-width: 425px) {
	.academics .content {
		@apply px-[1.5rem];
	}
	.academics .content .sem-container .header h1 {
		@apply text-2xl;
	}
	.academics li {
		@apply text-sm;
	}
	.academics .books .book {
		flex-direction: column;
	}
	.academics .tab-nav {
		@apply text-xl;
	}
	.tm-events {
		font-size: 1.3rem;
	}
}
